*.o
*.lib
*.a

*~
*.txt
!CMakeLists.txt
*.swo
*.swp
*.fuse*


*.out
*.exe
*.elf
*.bin
*.hex
*.axf
$tutor$

main
Doxyfile
doxyfile

*.vscode
*.cproject
*.project
*.settings


archive/
build/
debug/
test/
latex/
man/
Sim/
Reference/
